body {
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    font-size: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}


body[data-theme="light"],
body[data-theme="light"] textarea,
body[data-theme="light"] button {
    background-color: #ffffff;
    color: #000000;
}

body[data-theme="dark"],
body[data-theme="dark"] textarea,
body[data-theme="dark"] button {
    background-color: #333333;
    color: #ffffff;
}

body[data-theme="light"] button {
    background-color: #007bff;
}

body[data-theme="dark"] button {
    background-color: #444444;
}

body, textarea, button {
    transition: background-color 0.5s ease, color 0.5s ease;
}